body
{
margin: 0;
padding:0;
}
.main {
width: 100%;
height: 100vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
#greets
{
position: absolute;
top: 55%;
left: 50%;
transform: translate(-50%,-50%) translateZ(50px);
font-size: 337.5%;
font-weight: 500;
line-height: normal;
font-family: 'Mansalva', cursive;
color: #ffffff;

}
#time
{
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%,-50%) translateZ(50px);
font-size: 737.5%;
font-weight: bolder;
line-height: normal;
font-family: 'Arial', sans-serif;
color: #ffffff;

}
#quote
{


font-size: 120%;
font-family: Arial;
color: #ffffff;
}
#quotes
{
width:50%;
height: 60px;
background-color: transparent;
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
transition: all .4s ease-in-out;
}
#quotes:hover
{
top:88%;
}
@media (min-width: 320px) and (max-width: 480px) {
#time
{
top: 30%;
font-size: 415.5%;
font-weight: bolder;
}
#greets
{
font-size: 200.5%;
font-weight: 250;
line-height: normal;
top: 45%;
}

#user-info
{
font-size: 8px;
text-align: center;
color: teal;
opacity: .7;
}
#quotes
{
top:80%;
width: 100%;
}
#quotes:hover
{
top:75%;
}

#news
{
	left: 60%;
}



}
@media (min-width: 200px) and (max-width: 320px) {
#time
{
top: 30%;
font-size: 415.5%;
font-weight: bolder;
}
#greets
{
font-size: 200.5%;
font-weight: 250;
line-height: normal;
top: 45%;
}

#user-info
{
font-size: 8px;
text-align: center;
color: teal;
}
#quotes
{
top:80%;
width: 100%;
}
#quotes:hover
{
top:75%;
}

#news
{
	left: 80%;
}


}


#news
{
	position: absolute;
	top: 95%;
	left: 95%;
	transform: translate(-50%,-50%);
}