body {
	margin: 0;
	padding: 0;
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	background-color: black;
}

#save
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#bin
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #ffffff;
	opacity: 1;
	/* Firefox */
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
}

.main {
	width: 100%;
	height: 100vh;
	background-image: url('gradient.png');
	background-size: cover;
	background-position: center;
	background: transparent;
	background-repeat: no-repeat;
	z-index: 999;
	transition: all .5s ease-in-out;
}

#greets {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%) translateZ(50px);
	font-size: 337.5%;
	font-weight: 500;
	line-height: normal;
	font-family: 'Mansalva', cursive;
	color: #ffffff;
	

}

#time {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%) translateZ(50px);
	font-size: 737.5%;
	font-weight: bolder;
	line-height: normal;
	font-family: 'Arial', sans-serif;
	color: #ffffff;
	z-index: 999;
	

}

#quote {


	font-size: 120%;
	font-family: Arial;
	color: #ffffff;
}

#quotes {
	width: 50%;
	height: 60px;
	background-color: transparent;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	transition: all .4s ease-in-out;
}



	#user_image
	{
		width: 100px;
		height: 100px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%) translateZ(50px);
	background-size: cover;
	border-radius: 50%;
	border: 4px solid #ffffff;
	

	}

#quotes:hover {
	top: 88%;
}

@media (min-width: 320px) and (max-width: 480px) {
	#time {
		top: 30%;
		font-size: 415.5%;
		font-weight: bolder;
	}

	#greets {
		font-size: 200.5%;
		font-weight: 250;
		line-height: normal;
		top: 45%;
	}

	#user-info {
		font-size: 8px;
		text-align: center;
		color: teal;
		opacity: .7;
	}
	

	#quotes {
		top: 80%;
		width: 100%;
	}

	#quotes:hover {
		top: 75%;
	}

	#setting {
		left: 60%;
	}

	#temprature {
		display: none;
	}

	img {
		display: none;
	}

	#bar
	{
		display: none;
	}

	



}

@media (min-width: 200px) and (max-width: 320px) {
	#time {
		top: 30%;
		font-size: 415.5%;
		font-weight: bolder;
	}


	#greets {
		font-size: 200%;
		width: 100%;
		font-weight: 250;
		line-height: normal;
		text-align: center;
		top: 45%;
	}

	#user-info {
		font-size: 8px;
		text-align: center;
		color: teal;
	}

	#quotes {
		top: 80%;
		width: 100%;
	}

	#quotes:hover {
		top: 75%;
	}

	#setting {
		left: 80%;
	}

	#temprature {
		display: none;
	}



}


@media (min-width: 450px) and (max-width: 1050px) {
	#bar
	{
		display: none;
	}



}


#setting {
	position: absolute;
	top: 95%;
	left: 95%;
	transform: translate(-50%, -50%);
	transition: all .3s ease-in-out;
}


#setting:hover {

	transform: translate(-50%, -50%) rotate(45deg);
}

#search {
	width: 250px;
	height: 40px;
	background-color: transparent;
	position: absolute;
	top: 25px;
	left: 50px;
	border-bottom: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
	border-radius: 65px;
	padding-left: 12px;
	

}

#key {
	width: 150px;
	height: 40px;
	background-color: transparent;
	border: none;
	outline: none;
	position: absolute;
	left: 70px;
	color: #ffffff;
	font-size: 1em;
}

#search-icon {
	font-size: 1.5em;
	position: absolute;
	top: 70px;
	left: 25px;
	color: #ffffff;

}

.icon {
	width: 20px;
	height: 20px;
	background-color: transparent;
	position: absolute;
	top: 10px;
	color: #ffffff;
}

.engine {
	width: 20px;
	height: 20px;
	background-color: transparent;
	position: absolute;
	top: 10px;
	left: 85%;
	color: #ffffff;
}

#bar
{
	width: 80px;
	height: 240px;
	background-color: #ffffff;
	position: absolute;
	top:50%;
	left: -2%;
	margin-top: 10px;
	padding-top: 10;
	
	transform: translate(-50%,-50%);
	border-radius: 65px;
	box-shadow: rgba(0, 0, 0, .5);
	transition: all .1s ease-in-out;
	visibility: hidden;
}

#bar ul
{
	list-style: none;
	text-align: center;
	position: relative;
	margin-top: 20px auto;
	padding-top: 5px;
}

#bar ul li
{
	margin-top: 30px;
	padding-right: 35px;
	margin-left: -10px;
	
}
#bar ul li img
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	margin-left:-10px;
	margin-top: -15px;
	text-align: center;
	position: relative;
}


#news
{
	width: 500px;
	height: 660px;
	background-color: #ffffff;
	position: absolute;
	margin:10px auto;
	top: 50%;
	
	left: 50%;
	visibility: hidden;
	
	transform: translate(-50%,-50%);
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

#news
{
	position: absolute;
	z-index: 1000;
}

.main_heading
{
	font-family: 'Ubuntu', sans-serif;
	margin: 10px 20px;
	padding: 10x;

}
#thumb
{
	margin: 50px 20px;
	padding: 10x;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#content
{
	margin: 20px 25px;
	padding: 10x;
	font-size: 16px;
	
}

#title
{
	margin: 10px 20px;
	padding: 10px;
	
}
#news:hover
{
	box-shadow: ;
}

#news #visit
{
	margin: 10px 10px;
	position: fixed;
	padding: 10x;
	border: none;
	left: 92%;
	top: 85%;
	outline: none;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 65px;
	color: #ffffff;
	
	

}
#news #sourceId
{
	margin: 15px 20px;
	position: fixed;
	padding: 10x;
	border: none;
	
	top: 92%;
	left: 2%;
	height: 25px;
	outline: none;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 65px;
	color: #ffffff;
	
	

}


#dev_info
{
	visibility: hidden;
	width: 500px;
	height: 600px;
	background-color: #ffffff;
	position: absolute;
	margin:10px auto;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
	border-radius: 39px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.dev_image
{
width: 100px;
height: 100px;
position:relative;
top: 25%;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 50%;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.dev_image img
{
	width: 100%;
	height: 100%; 
	border-radius: 50%;
}
#dev_title
{
	font-size: 25px;
	font-family: 'Roboto',arial;
	position: fixed;
	top:250px;
	left: 220px;
	
}

#dev_content
{
	position: fixed;
	top: 320px;
	margin: 10px auto;
	left: -390px;
	font-size: 18px;
	color: #111111;

	text-align: center;
}
.social
{
	position: fixed;
	top: 450px;
	left: 180px;
	align-self: center;
	
}

.social #close_btn
{
width: 49px;
height: 49px;
border-radius: 50%;
margin: 10px 50px;
top: 45%;
left: 85%;
position: fixed;
border: 5px solid #ffffff;
cursor: pointer;
outline: none;


}



select {
	background-color: #7c4dff;
	color: white;
	
	border: none;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
  }

  #closeSetting
  {
	  position: absolute;
	  top:-2%;
	  left: -8%;
  }





